.expense-item {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
    justify-content: space-between;
    border-radius: 30px;
    height: 100px;
  }
  
  .expense-item  div {
    
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .expense-item__price{
      background-color: aqua;
      border-radius: 25px;
      height: 70px;
  }
  .expense-item__description{
    position: relative;
    top: -40px;
  }