* {
    box-sizing: border-box;
  }
  html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  body {
    margin: 0;
    background-color: #3F3F3F;
  }
  button {
    cursor: pointer;
    font: inherit;
    background-color: #7A0144;
    border: 1px solid #7A0144;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    color: white;
  }
  button:hover,
  button:active {
    background-color: #9C095A;
    border-color: #9C095A;
  }